<form class="" action="<%= action == :user ? user_index_url : session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="user_name">User name</label>
  <input type="text" name="user[user_name]" id="user_name">

  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">

  <input type="submit" name="Submit">

</form>
